/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*從這裡以下開始寫*/

.wrap{
	width: 1138px;
	margin: 0 auto;
}

.container{
	display: flex;
	justify-content:space-between;
}

.item1{
	padding-top: 215px;
	padding-bottom: 215px;
	background:#E7EEEA;
	width: 553px;
	display: flex;
	flex-direction: column;
	align-items:center;
	border-radius: 50px;
}

.item2{
	padding-top: 215px;
	padding-bottom: 215px;
	background:#E7EEEA;
	width: 553px;
	display: flex;
	flex-direction: column;
	align-items:start;
	border-radius: 50px;
}

.item2 h2{
	font-size: 24px;
	color:#37523D;
	font-weight: bold;
	margin-bottom: 42px;
	padding-left: 36px;
}

.content{
	font-size: 20px;
	line-height: 1.5;
	margin-bottom: 42px;
	padding-left: 36px;
}

.footer{
	color:#37523D;
	font-weight: bold;
	line-height: 1.5;
	padding-left: 36px;
}